// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#page-content {
  background: #f3f4ee;
}
div#main-content {
  width: 80%;
}
div#article-list {
}
div.article-item {
  padding: 30px 10px 10px 50px;
  min-height: 150px;
  border-bottom: #2E2F30 dotted 1px;
}
div.article-item-title {
  font-size: 32px;
}
div.article-item-abstract {
  font-size: 20px;
}

//category navigation
div.navlist-title{
  
}
ul.navlist {
  
  padding: 30px 0 0 20px; 
}
li.navlist-title {
  color: #c5c1bf;
  font-size: 20px;
}
li.navlist-content{
  padding-left: 20px;
}
ul#category-list{
  display: block;
}
ul#category-list li{
  padding: 5px 0 0 20px;
}
ul#category-list li a{
  padding: 10px 0 0 0;
  
  color: #000000; 
}

div#pagination {
  margin: 20px 0;
}
div#pagination ul{
  display: block;
  float: right;
}

