<div id="footer">
	<hr />
	<div id="footer-content" class="container three-quarter-panel center">
		<p>The site is founded by willard.</p>
		<p>All articles's rights belonds to tech team.</p>
	</div>	
</div>