<div>
	<ul>
		<li>
			<a href="/articles/new">create new article</a>
		</li>
		<li>
			<a href="/articles">manage articles</a>
 		</li>
 		<li>
			<a href="/categories">manage categories</a>
		</li>
		<li>
			<a href="/logout">logout</a>
		</li>
	</ul>
</div>
